useDynLib(rvwgsoc, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
import(yaml)
import(RApiSerialize)
importFrom(tools, md5sum)
S3method(print, vw)